
<form action="" class="col s12 white" #userRegistrationForm="ngForm">
  <div class="row">
    <div class="input-field col s6">
      <input class="validate" type="text" name="UserName" #UserName="ngModel" ngModel required>
        <label data-error="Required field!">UserName</label>
    </div>

    <div class="input-field col s6">
      <input class="validate" type="password" name="Password" #Password ="ngModel" ngModel required>
        <label>Password</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
        <input type="text" name="Email" #Email="ngModel" ngModel>
          <label data-error="Required field!">Email</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <input type="text" name="FirstName" #FirstName="ngModel" ngModel>
        <label>First Name</label>
    </div>    
    <div class="input-field col s6">
      <input type="text" name="LastName" #LastName ="ngModel" ngModel>
        <label>Last Name</label>
    </div>
  </div>
        
  <div class="row">
    <div class="input-field col s12">
      <button class="btn-large btn-submit" type="submit">Submit</button>
    </div>
  </div>        

</form>